@page
@model emiranda4BAIS3150Project.Pages.UpdateAnItemModel
@{
    ViewData["Title"] = "Update an Item - emiranda4 BAIS3150 Project";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
<h1 class="display-4">Update an Item</h1>
<hr class="my-4">
<div>
    <h4 class="alert-success">@Model.FormMessage</h4>
    <form method="post">
        <div class="form-group row align-items-end">
            <div class="col-2">
                <label asp-for="ItemCode" class="form-label">Item Code</label>
                <input type="text" asp-for="ItemCode" placeholder="ex. A12345" class="form-control">
            </div>
            <div class="col-auto">
                <span asp-validation-for="ItemCode" class="alert-danger"></span>
                <br />
                <span class="alert-danger">@Model.ErrorMessage</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button asp-page-handler="Search" class="btn btn-primary">Search</button>
                <button asp-page-handler="Clear" class="btn btn-warning">Clear</button>
            </div>
        </div>
    </form>
</div>
@if (Model.ExistingItem != null && !Model.Disable)
{
    <div>
        <form method="post">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ItemCode" class="form-label">Item Code</label>
                    <input type="text" asp-for="ItemCode" class="form-control" readonly placeholder="ex. A12345" value="@Model.ExistingItem.ItemCode"/>
                    <span asp-validation-for="ItemCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input type="text" asp-for="Description" value="@Model.ExistingItem.Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="UnitPrice" class="form-label">Unit Price</label>
                    <input type="number" asp-for="UnitPrice" value="@Model.ExistingItem.UnitPrice" placeholder="ex. 22.00" class="form-control" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Status" class="form-label">Status</label>
                    <input type="text" asp-for="Status" value="@Model.ExistingItem.Status" placeholder="ex. IN STOCK or OUT OF STOCK" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="QuantityOnHand" class="form-label">Quantity on Hand</label>
                    <input type="number" asp-for="QuantityOnHand" value="@Model.ExistingItem.QuantityOnHand" class="form-control" />
                    <span asp-validation-for="QuantityOnHand" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <button asp-page-handler="Update" class="btn btn-success" disabled="@Model.Disable" onclick="return confirm('Are you sure you want to update this?')">Update</button>
                </div>
            </div>
        </form>
    </div>
}